<div class="box">
    <div class="header-add-btn-row">
        <div class="dropdown pull-right">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="dropdown-name project-status-selected-value">Active</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a data-value="false" class="change-status">Active</a>
                    <a data-value="true" class="change-status">Inactive</a>
                </li>
            </ul>
            <input type="text" id="drpProjectStatus" value="0" class="hide" />
        </div>
    </div>
    <div class="clear"></div>
    <div id="team_member_projects">
        <!-- /.box-header -->
        <div class="box-body commit-lists">
            <table id="tbl_assigned_repos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Emp Code</th>
                        <th>Card No</th>
                        <th>Name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr class="odd gradeX">
                        <td>{{this.empCode}} </td>
                        <td>{{this.cardNo}}</td>
                        <td>{{this.name}}</td>
                        <td>
                            <a id="{{this.empCode}}" name="{{this.name}}" class="viewAttendance" title="Edit" style="cursor: pointer;">View
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../scripts/views/users.js" ></script>